//- layout.pug
doctype html
html
  head
    title Roman Dance Academy
    block scripts
    block style 
    
  body
    nav#navbar 
        ul 
            div#logo 
                img(src ="/static/img/gr5.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/contact") Contact us]
            li #[a(href="/") Class info ]
            li #[a(href="/") Services]
    block content
    footer#footer
        | Copyright © 2022 RomanAcademy.com | All Rights Reserved  